.labo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;

    .labo__media {
        height: 100%;
        width: 100%;
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .bouton {
        font-family: var(--font-secondary);
        background-color: var(--color-primary);
        color: var(--color-black);
        font-weight: 700;
        padding: 8px 16px;
        border-radius: 100px;
    }
}
