.labo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;

    .labo__media {
        height: 100%;
        width: 100%;
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .labo__content {
        h4 {
            font-family: var(--font-secondary);
            font-size: 20px;
            text-transform: uppercase;
        }

        .content__description {
            font-weight: 300;
            font-size: 30px;
            span {
                font-weight: 700;
            }
        }

        .content__technique {
            text-transform: uppercase;
        }
    }

    .bouton {
        font-family: var(--font-secondary);
        background-color: var(--color-primary);
        color: var(--color-black);
        font-weight: 700;
        padding: 8px 16px;
        border-radius: 100px;
        transition: 0.3s all ease-in;
        text-decoration: none;

        &:hover {
            background-color: var(--color-black);
            color: var(--color-primary);
        }
    }
}
