.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;

    h2 {
        margin: 0;
        padding-bottom: 10px;
    }

    p {
        margin: 0;
    }
}
