.hero {
    height: 90vh;
    padding-bottom: 100px;
    position: relative;

    .hero__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero__content {
        position: relative;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 30px;
        text-align: left;
        padding: 0;
        z-index: 3;

        h1 {
            font: var(--font-primary);
            font-weight: bold;
            color: var(--color-primary);
            font-size: 80px;
            width: 50%;
            line-height: normal;
        }
    }
}
