.labos {
    background: var(--color-black);

    h2 {
        margin: 0;
        padding-top: 80px;
        color: var(--color-white);
    }

    .labo__flex {
        padding: 80px 0;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
