{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/metier.jpg" alt="bg_hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="labos">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>laboratoires</strong>
        </h2>
        <div class="cards">
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/exercice_1.png" alt="exercice_1" />
                </div>
                <div class="card__content">
                    <h4>Sem 01 - Révision</h4>
                    <p class="content__description">
                        Une bonne petite révision avant de s'appréter à explorer
                        <span>le cours de Conception Web III.</span>
                    </p>
                    <p class="content__technique">Html + Css</p>
                    <a href="https://flapointe.dectim.ca/cours/cw3/sem01/" class="bouton">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card card__reverse">
                <div class="card__content">
                    <h4>Sem 02 - Timtools</h4>
                    <p class="content__description">
                        L'exploration d'un outil utile pour le cours.
                        <span>Voici TimTools.</span>
                    </p>
                    <p class="content__technique">Scss</p>
                    <a href="https://flapointe.dectim.ca/cours/cw3/sem02/" class="bouton">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/exercice_2.png" alt="exercice_2" />
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/exercice_3.png" alt="exercice_3" />
                </div>
                <div class="card__content">
                    <h4>Sem 03 - Portfolio Louis Lajoie</h4>
                    <p class="content__description">
                        Voyons le site d'un concepteur et comment nous pouvons bien
                        <span>l'améliorer pour son utilisation.</span>
                    </p>
                    <p class="content__technique">Html + Scss</p>
                    <a href="https://flapointe.dectim.ca/cours/cw3/sem03/" class="bouton">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
            <article class="card labo__reverse">
                <div class="card__content">
                    <h4>Sem 04 - Icônes et classes Js</h4>
                    <p class="content__description">
                        Introdution des îcones avec notre nouvelle méthode et
                        <span>du javascript comme ajout.</span>
                    </p>
                    <p class="content__technique">Scss + Javascript</p>
                    <a href="https://flapointe.dectim.ca/cours/cw3/sem04/" class="bouton">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="card__media">
                    <img src="assets/images/exercice_4.png" alt="exercice_4" />
                </div>
            </article>
        </div>
    </div>
</section>

<section class="labos__reactifs">
    <div class="wrapper">
        <h2>
            Mes
            <strong>laboratoires réactifs</strong>
        </h2>
    </div>
</section>

{% include "_partials/_footer.html" %}
